name: pnpm-build
on:
  workflow_call:
    inputs:
      os:
        type: string
        required: false
        default: ubuntu-latest
      node-version:
        type: string
        required: false
        default: '22'
jobs:
  build:
    runs-on: ${{ inputs.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Setup Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: pnpm
      - name: Install Dependencies
        run: pnpm install
      - name: Archive build output
        uses: actions/upload-artifact@v7
        with:
          name: build
          path: |
            dist
            cjs
            esm
