name: pnpm-verify
on:
  workflow_call:
    inputs:
      os:
        type: string
        required: false
        default: '["ubuntu-latest", "macos-latest", "windows-latest"]'
      node-version:
        type: string
        required: false
        default: '[20, 22, 24]'
      pnpm-version:
        type: string
        required: false
      codecov-flags:
        type: string
        required: false
jobs:
  verify:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
        node-version: ${{ fromJson(inputs.node-version) }}
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Install playwright browsers
        uses: repobuddy/.github/.github/actions/setup-playwright@main

      - name: Verify
        if: matrix.os == 'ubuntu-latest'
        run: xvfb-run -a pnpm verify
      - name: Verify
        if: matrix.os != 'ubuntu-latest'
        run: pnpm verify

      - name: Archive snapshots/linux
        if: failure()
        uses: actions/upload-artifact@v7
        with:
          name: snapshots
          path: '**/__snapshots__/linux'
      - name: codecov
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == 20
        uses: codecov/codecov-action@v5
        with:
          flags: ${{ inputs.codecov-flags }}
